@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
   margin: 0 auto;
   font-family: 'Poppins', sans-serif;
   background: #1B2140;
}
.welcome-tune{
   height: auto;
   display: flex;
   padding: 50px 80px;
}
.left-tune{
   width: 60%;
}
.title{
   width: 100%;
   max-width: 1200px;
   color: white;
   font-size: 50px;
}
.title-color{
   color: #FA8B2D;
}
.description{
   width: 100%;
   max-width: 500px;
   color: rgb(194, 194, 194);
}
.portfolio-image{
   padding: 40px 0px;
}
.relation{
   color: rgba(255, 255, 255, 0.829);
}
.hire{
   padding: 10px 25px;
   background-image: linear-gradient(to right,#AFF601 , rgb(255, 238, 0));
   color: black;
   font-weight: bold;
   text-decoration: none;
   border-radius: 5px;
}
.dreming{
   padding: 80px 20px;
   display: flex;
}
.dream-images{
   width: 50%;
}
.dream-image{
   width: 80%;
   max-width: 600px;
}
.dream-heading{
   font-size: 50px;
   color: white;
   font-weight: bold;
}
.dream-text{
   padding: 40px 0px;
}